body {
  background-image: url("../img/familybackground.jpg");
  background-size: cover;
  background-position-x: -400px;
}

h1 {
    font-family: 'Lato', 'Open Sans';
    color: white;
    font-weight: bold;
}















